{{ if .Values.serviceMonitor.enabled }}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ include "avalanche.fullname" . }}
  labels:
{{ include "avalanche-helm.labels" . | indent 4 }}
spec:
  endpoints:
  - interval: {{ .Values.serviceMonitor.interval }}
    port: metrics
    path: /metrics
  selector:
    matchLabels:
{{ include "avalanche.labels" . | indent 6 }}
{{- end }}
