# This file and its contents are licensed under the Apache License 2.0.
# Please see the included NOTICE for copyright information and LICENSE for a copy of the license.

apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ template "timescaledb.fullname" . }}
  labels:
    app: {{ template "timescaledb.fullname" . }}
    chart: {{ template "timescaledb.chart" . }}
    release: {{ .Release.Name }}
    heritage: {{ .Release.Service }}
    cluster-name: {{ template "clusterName" . }}
spec:
  serviceName: {{ template "timescaledb.fullname" . }}
  replicas: {{ .Values.replicaCount }}
  updateStrategy:
    type: RollingUpdate
  selector:
    matchLabels:
      app: {{ template "timescaledb.fullname" . }}
      release: {{ .Release.Name }}
  template:
    metadata:
      name: {{ template "timescaledb.fullname" . }}
      labels:
        app: {{ template "timescaledb.fullname" . }}
        release: {{ .Release.Name }}
        cluster-name: {{ template "clusterName" . }}
{{- if .Values.podAnnotations }}
      annotations:
{{ toYaml .Values.podAnnotations | indent 8 }}
{{- end }}
    spec:
      serviceAccountName: {{ template "timescaledb.serviceAccountName" . }}
      securityContext:
        # The postgres user inside the TimescaleDB image has uid=1000.
        # This configuration ensures the permissions of the mounts are suitable
        fsGroup: 1000
      containers:
      - name: timescaledb
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
          - sh
          - "-c"
          # When reusing an already existing volume it sometimes happens that the permissions
          # of the PGDATA and/or wal directory are incorrect. To guard against this, we always correctly
          # set the permissons of these directories before we hand over to Patroni
          - |
            {{ .Values.debug.execStartPre }}
            install -o postgres -g postgres -d -m 0700 {{ include "data_directory" . | quote }} {{ include "wal_directory" . | quote }}
            exec patroni /etc/timescaledb/patroni.yaml
        env:
        # We use mixed case environment variables for Patroni User management,
        # as the variable themselves are documented to be PATRONI_<username>_OPTIONS.
        # Where possible, we want to have lowercase usernames in PostgreSQL as more complex postgres usernames
        # requiring quoting to be done in certain contexts, which many tools do not do correctly, or even at all.
        # https://patroni.readthedocs.io/en/latest/ENVIRONMENT.html#bootstrap-configuration
        - name: PATRONI_admin_OPTIONS
          value: createrole,createdb
{{- range $key, $_ := $.Values.credentials }}
        - name: PATRONI_{{ $key }}_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ template "timescaledb.fullname" $ }}-passwords
              key: {{ $key | quote }}
{{- end }}
        - name: PATRONI_REPLICATION_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ template "timescaledb.fullname" . }}-passwords
              key: standby
        - name: PATRONI_SUPERUSER_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ template "timescaledb.fullname" . }}-passwords
              key: postgres
        - name: PATRONI_REPLICATION_USERNAME
          value: standby
        # To specify the PostgreSQL and Rest API connect addresses we need
        # the PATRONI_KUBERNETES_POD_IP to be available as a bash variable, so we can compose an
        # IP:PORT address later on
        - name: PATRONI_KUBERNETES_POD_IP
          valueFrom:
            fieldRef:
              fieldPath: status.podIP
        - name: PATRONI_POSTGRESQL_CONNECT_ADDRESS
          value: "$(PATRONI_KUBERNETES_POD_IP):5432"
        - name: PATRONI_RESTAPI_CONNECT_ADDRESS
          value: "$(PATRONI_KUBERNETES_POD_IP):8008"
        - name: PATRONI_NAME
          valueFrom:
            fieldRef:
              fieldPath: metadata.name
        - name: PATRONI_POSTGRESQL_DATA_DIR
          value: {{ include "data_directory" . | quote }}
        - name: PATRONI_KUBERNETES_NAMESPACE
          value: {{ $.Release.Namespace }}
        - name: PATRONI_KUBERNETES_LABELS
          value: {{ printf "{app: %s, cluster-name: %s, release: %s}" (include "timescaledb.fullname" .) (include "clusterName" .) .Release.Name  | quote }}
        - name: PATRONI_SCOPE
          value: {{ template "clusterName" . }}
        - name: PGBACKREST_CONFIG
          value: /etc/pgbackrest/pgbackrest.conf
          {{- if .Values.env }}
{{ .Values.env | default list | toYaml | indent 8 }}
          {{- end }}
        ports:
        - containerPort: 8008
        - containerPort: 5432
        {{- if .Values.readinessProbe.enabled }}
        readinessProbe:
          exec:
            command:
              - pg_isready
              - -h
              - {{ template "socket_directory" . }}
          initialDelaySeconds: {{ .Values.readinessProbe.initialDelaySeconds }}
          periodSeconds: {{ .Values.readinessProbe.periodSeconds }}
          timeoutSeconds: {{ .Values.readinessProbe.timeoutSeconds }}
          successThreshold: {{ .Values.readinessProbe.successThreshold }}
          failureThreshold: {{ .Values.readinessProbe.failureThreshold }}
        {{- end }}
        volumeMounts:
        - name: storage-volume
          mountPath: {{ .Values.persistentVolumes.data.mountPath | quote }}
          subPath: {{ .Values.persistentVolumes.data.subPath | quote }}
        {{- if .Values.persistentVolumes.wal.enabled }}
        - name: wal-volume
          mountPath: {{ .Values.persistentVolumes.wal.mountPath | quote }}
          subPath: {{ .Values.persistentVolumes.wal.subPath | quote }}
        {{- end }}
        - mountPath: /etc/timescaledb/patroni.yaml
          subPath: patroni.yaml
          name: patroni-config
          readOnly: true
        - mountPath: {{ template "scripts_dir" . }}
          name: timescaledb-scripts
          readOnly: true
        - mountPath: /etc/certificate
          name: certificate
          readOnly: true
        - name: socket-directory
          mountPath: {{ template "socket_directory" . }}
{{- if or .Values.backup.enabled .Values.backup.enable }}
        - mountPath: /etc/pgbackrest
          name: pgbackrest
          readOnly: true
{{ end }}
        resources:
{{ toYaml .Values.resources | indent 10 }}

{{- if or .Values.backup.enabled .Values.backup.enable }}
      - name: pgbackrest
        image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        command:
          - {{ template "scripts_dir" . }}/pgbackrest_bootstrap.sh
        ports:
        - containerPort: 8081
        volumeMounts:
        - name: socket-directory
          mountPath: {{ template "socket_directory" . }}
          readOnly: true
        - name: storage-volume
          mountPath: {{ .Values.persistentVolumes.data.mountPath | quote }}
          subPath: {{ .Values.persistentVolumes.data.subPath | quote }}
        {{- if .Values.persistentVolumes.wal.enabled }}
        - name: wal-volume
          mountPath: {{ .Values.persistentVolumes.wal.mountPath | quote }}
          subPath: {{ .Values.persistentVolumes.wal.subPath | quote }}
        {{- end }}
        - mountPath: /etc/pgbackrest
          name: pgbackrest
          readOnly: true
        - mountPath: {{ template "scripts_dir" . }}
          name: timescaledb-scripts
          readOnly: true
        env:
          - name: PGHOST
            value: {{ template "socket_directory" . }}
          - name: PGBACKREST_STANZA
            value: poddb
          - name: PGBACKREST_CONFIG
            value: /etc/pgbackrest/pgbackrest.conf
{{ end }}

{{- if .Values.prometheus.enabled }}
      - name: postgres-exporter
        image: "{{ .Values.prometheus.image.repository }}:{{ .Values.prometheus.image.tag }}"
        imagePullPolicy: {{ .Values.prometheus.image.pullPolicy }}
        securityContext:
          runAsUser: 1000
        ports:
        - containerPort: 9187
        volumeMounts:
        - name: socket-directory
          mountPath: {{ template "socket_directory" . }}
          readOnly: true
        env:
          - name: DATA_SOURCE_NAME
            value: "host={{ template "socket_directory" . }} user=postgres application_name=postgres_exporter"
          - name: PG_EXPORTER_CONSTANT_LABELS
            value: release={{ .Release.Name }},namespace={{ .Release.Namespace }}
{{ end }}

    {{- with .Values.nodeSelector }}
      nodeSelector:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- with .Values.tolerations }}
      tolerations:
{{ toYaml . | indent 8 }}
    {{- end }}
    {{- if .Values.schedulerName }}
      schedulerName: {{ .Values.schedulerName }}
    {{- end }}
    {{- if .Values.affinity }}
      affinity:
{{ .Values.affinity | toYaml | indent 8 }}
    {{- else if .Values.affinityTemplate }}
      affinity:
{{ tpl .Values.affinityTemplate . | indent 8 }}
    {{- end }}
      volumes:
      - name: socket-directory
        emptyDir:
          defaultMode: 488 # 0750 permissions
      - name: patroni-config
        configMap:
          name: {{ template "timescaledb.fullname" . }}-patroni
      - name: timescaledb-scripts
        configMap:
          name: {{ template "timescaledb.fullname" . }}-scripts
          defaultMode: 488 # 0750 permissions
{{- if or .Values.backup.enabled .Values.backup.enable }}
      - name: pgbackrest
        secret:
          secretName: {{ template "timescaledb.fullname" . }}-pgbackrest
          defaultMode: 416 # 0640 permissions
{{ end }}
      - name: certificate
        secret:
          secretName: {{ template "timescaledb.fullname" . }}-certificate
          defaultMode: 416 # 0640 permissions
      {{- if not .Values.persistentVolumes.data.enabled }}
      - name: storage-volume
        emptyDir: {}
      {{- end }}
  volumeClaimTemplates:
  {{- if .Values.persistentVolumes.data.enabled }}
    - metadata:
        name: storage-volume
        annotations:
        {{- if .Values.persistentVolumes.data.annotations }}
{{ toYaml .Values.persistentVolumes.data.annotations | indent 8 }}
        {{- end }}
        labels:
          app: {{ template "timescaledb.fullname" . }}
          release: {{ .Release.Name }}
          heritage: {{ .Release.Service }}
          cluster-name: {{ template "clusterName" . }}
          purpose: data-directory
      spec:
        accessModes:
{{ toYaml .Values.persistentVolumes.data.accessModes | indent 8 }}
        resources:
          requests:
            storage: "{{ .Values.persistentVolumes.data.size }}"
      {{- if .Values.persistentVolumes.data.storageClass }}
      {{- if (eq "-" .Values.persistentVolumes.data.storageClass) }}
        storageClassName: ""
      {{- else }}
        storageClassName: "{{ .Values.persistentVolumes.data.storageClass }}"
      {{- end }}
      {{- end }}
  {{- end }}
  {{- if .Values.persistentVolumes.wal.enabled }}
    - metadata:
        name: wal-volume
        annotations:
        {{- if .Values.persistentVolumes.wal.annotations }}
{{ toYaml .Values.persistentVolumes.wal.annotations | indent 8 }}
        {{- end }}
        labels:
          app: {{ template "timescaledb.fullname" . }}
          release: {{ .Release.Name }}
          heritage: {{ .Release.Service }}
          cluster-name: {{ template "clusterName" . }}
          purpose: wal-directory
      spec:
        accessModes:
{{ toYaml .Values.persistentVolumes.wal.accessModes | indent 8 }}
        resources:
          requests:
            storage: "{{ .Values.persistentVolumes.wal.size }}"
      {{- if .Values.persistentVolumes.wal.storageClass }}
      {{- if (eq "-" .Values.persistentVolumes.wal.storageClass) }}
        storageClassName: ""
      {{- else }}
        storageClassName: "{{ .Values.persistentVolumes.wal.storageClass }}"
      {{- end }}
      {{- end }}
  {{- end }}
